.myButton {
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    border-radius:6px;
    border:1px solid #337fed;
    cursor:pointer;
    color:#E0E0E0;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
}
.my-style {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%) fixed;
    color: white;
    font-family: Arial;
    text-align: center;
}
